.ipynb_checkpoints/

# For Flask App 
FlaskAPI/api/*.pyc
FlaskAPI/api/__pycahe__/*
FlaskAPI/.DS_Store
FlaskAPI/.env
FlaskAPI/.flaskenv
FlaskAPI/*.pyo
FlaskAPI/env/
FlaskAPI/venv/
FlaskAPI/.venv/
FlaskAPI/env*
FlaskAPI/dist/
FlaskAPI/build/
FlaskAPI/*.egg
FlaskAPI/*.egg-info/
FlaskAPI/.tox/
FlaskAPI/.cache/
FlaskAPI/.pytest_cache/
FlaskAPI/.idea/
FlaskAPI/docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# models

FlaskAPI/MLP88_08.pkl
FlaskAPI/vectorizer.pkl
*.pyc
*.pyc
FlaskAPI/api/__pycache__/controller.cpython-310.pyc
FlaskAPI/ANN-N.h5
FlaskAPI/TF-IDF.pkl
